.btn-circle {
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0px;
    text-align: center;
    width: 30px;
}
.cardContainer{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top:-50px;
    justify-content: center;
    align-items: center;
}

.buttonGroup{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #f5f3f3;
}

.counter {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
